<mat-card>

  <mat-toolbar color="primary" >cadastro de produto</mat-toolbar>
    <mat-card-content>
        <form [formGroup]="form" class="min-width">
          <mat-form-field class="full-width" >
            <mat-label>adicione o nome</mat-label>
            <input id= "field1" matInput placeholder="Nome" formControlName = "name">
          </mat-form-field>

          <mat-form-field class="full-width" >
            <mat-label>adicione o preço</mat-label>
            <input id= "field2" matInput placeholder="Preço do produto" formControlName = "price_in_cents">
          </mat-form-field>

           <!--- <p><div style="margin: 20px;">
            <p> Situação do Produto</p>
            <mat-button-toggle-group  (change)="toggleActive()" placeholder="Situação" formControlName = "active">
              <mat-button-toggle [value]="true">Ativo</mat-button-toggle>
              <mat-button-toggle [value]="false">Inativo</mat-button-toggle>
            </mat-button-toggle-group >
         Status: {{ isActive ? 'Ativo' : 'Inativo' }}
          </div></p>-->
          
        </form>
    </mat-card-content>

    <mat-card-actions>
      <button  mat-button (click)="onSubmit()">Salvar</button>
      <button color="primary" mat-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
</mat-card>